.DS_Store
.vscode
*.log
.hg
.svn
.DS_Store
.DS_Store?
._*
.~*
~$*
*.lock
Thumbs.db
*.cab
*.msi
*.msm
*.msp
*.lnk
.idea/
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
node_modules/
build/
dist/
